* {
  box-sizing: border-box;
}

article {
  margin: auto;
  width: fit-content;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.elem {
  border: 1px solid black;
  flex: 0 0 calc(33% - 5px);
  width: 10rem;
  height: 15rem;
}

.elem p {
  margin: auto;
  text-align: center;
  font-size: 12rem;
}
